@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_648394_i81v5mjv2q1o47vi.woff') format('woff'),
  url('//at.alicdn.com/t/font_648394_i81v5mjv2q1o47vi.ttf') format('truetype')
}

[class^="icon"], [class*=" icon"] {
  font-family:"iconfont" !important;
  font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before { content: "\e653"; }

.icon-zhihu1:before { content: "\e709"; }

.icon-zhihu:before { content: "\e69a"; }

.icon-github:before { content: "\e6a4"; }

