@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_648394_xegv2lx2s7sw0zfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_648394_xegv2lx2s7sw0zfr.ttf') format('truetype')
}

[class^="icon"], [class*=" icon"] {
  font-family:"iconfont" !important;
  font-size: inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before { content: "\e653"; }

.icon-zhihu1:before { content: "\e709"; }

.icon-location:before { content: "\e610"; }

.icon-zhihu:before { content: "\e69a"; }

.icon-home:before { content: "\e631"; }

.icon-github:before { content: "\e6a4"; }

.icon-article:before { content: "\e67d"; }

.icon-book1:before { content: "\e661"; }

.icon-share:before { content: "\e60a"; }

.icon-book:before { content: "\e613"; }

.icon-home1:before { content: "\e69d"; }
