
// $deep-purple = {
//   "base":       #673ab7,
//   "lighten-5":  #ede7f6,
//   "lighten-4":  #d1c4e9,
//   "lighten-3":  #b39ddb,
//   "lighten-2":  #9575cd,
//   "lighten-1":  #7e57c2,
//   "darken-1":   #5e35b1,
//   "darken-2":   #512da8,
//   "darken-3":   #4527a0,
//   "darken-4":   #311b92,
//   "accent-1":   #b388ff,
//   "accent-2":   #7c4dff,
//   "accent-3":   #651fff,
//   "accent-4":   #6200ea
// }

// material-部位__主题

// deep-purple
.material__deep-purple__base
  background: $deep-purple.base
.material__deep-purple__lighten-5
  background: $deep-purple.lighten-5
.material__deep-purple__lighten-4
  background: $deep-purple.lighten-4
.material__deep-purple__lighten-3
  background: $deep-purple.lighten-3
.material__deep-purple__lighten-2
  background: $deep-purple.lighten-2
.material__deep-purple__lighten-1
  background: $deep-purple.lighten-1
.material__deep-purple__darken-1
  background: $deep-purple.darken-1
.material__deep-purple__darken-2
  background: $deep-purple.darken-2
.material__deep-purple__darken-3
  background: $deep-purple.darken-3
.material__deep-purple__darken-4
  background: $deep-purple.darken-4
.material__deep-purple__accent-1
  background: $deep-purple.accent-1
.material__deep-purple__accent-2
  background: $deep-purple.accent-2
.material__deep-purple__accent-3
  background: $deep-purple.accent-3
.material__deep-purple__accent-4
  background: $deep-purple.accent-4

  // indog
.material__indigo__base
  background: $indigo.base
.material__indigo__lighten-5
  background: $indigo.lighten-5
.material__indigo__lighten-4
  background: $indigo.lighten-4
.material__indigo__lighten-3
  background: $indigo.lighten-3
.material__indigo__lighten-2
  background: $indigo.lighten-2
.material__indigo__lighten-1
  background: $indigo.lighten-1
.material__indigo__darken-1
  background: $indigo.darken-1
.material__indigo__darken-2
  background: $indigo.darken-2
.material__indigo__darken-3
  background: $indigo.darken-3
.material__indigo__darken-4
  background: $indigo.darken-4
.material__indigo__accent-1
  background: $indigo.accent-1
.material__indigo__accent-2
  background: $indigo.accent-2
.material__indigo__accent-3
  background: $indigo.accent-3
.material__indigo__accent-4
  background: $indigo.accent-4

// red
.material__red__base
  background: $red.base
.material__red__lighten-5
  background: $red.lighten-5
.material__red__lighten-4
  background: $red.lighten-4
.material__red__lighten-3
  background: $red.lighten-3
.material__red__lighten-2
  background: $red.lighten-2
.material__red__lighten-1
  background: $red.lighten-1
.material__red__darken-1
  background: $red.darken-1
.material__red__darken-2
  background: $red.darken-2
.material__red__darken-3
  background: $red.darken-3
.material__red__darken-4
  background: $red.darken-4
.material__red__accent-1
  background: $red.accent-1
.material__red__accent-2
  background: $red.accent-2
.material__red__accent-3
  background: $red.accent-3
.material__red__accent-4
  background: $red.accent-4

.--primary
  background: $material-deep-purple.background.primary
.--light
  background: $material-deep-purple.background.light
.--dark
  background: $material-deep-purple.background.dark
.--accent
  background: $material-deep-purple.background.accent

.--white
  background: #fff

.--primary-text-color
  color: $material-deep-purple.text.primary
.--light-text-color
  color: $material-deep-purple.text.light
.--dark-text-color
  color: $shades.block
.--accent-text-color
  color: $shades.block

.--primary-background
  background: #f3f4f5
