
// $deep-purple = {
//   "base":       #673ab7,
//   "lighten-5":  #ede7f6,
//   "lighten-4":  #d1c4e9,
//   "lighten-3":  #b39ddb,
//   "lighten-2":  #9575cd,
//   "lighten-1":  #7e57c2,
//   "darken-1":   #5e35b1,
//   "darken-2":   #512da8,
//   "darken-3":   #4527a0,
//   "darken-4":   #311b92,
//   "accent-1":   #b388ff,
//   "accent-2":   #7c4dff,
//   "accent-3":   #651fff,
//   "accent-4":   #6200ea
// }

.--primary
  background: $material-deep-purple.background.primary
.--light
  background: $material-deep-purple.background.light
.--dark
  background: $material-deep-purple.background.dark
.--accent
  background: $material-deep-purple.background.accent

.--white
  background: #fff

.--primary-text-color
  color: $material-deep-purple.text.primary
.--light-text-color
  color: $material-deep-purple.text.light
.--dark-text-color
  color: $shades.block
.--accent-text-color
  color: $shades.block

.--primary-background
  background: #f3f4f5
