@require './material/colors'

$font-size-small := 12px
$font-size-base := 14px
$font-size-large := 18px

$textColor := #2c3e50
$codeBgColor := #282c34

$accent-color := $deep-purple.base

// layout
$header-text-color := $deep-purple.lighten-5
