@require './material/colors'

// font
$font-size-small := 12px
$font-size-base := 14px
$font-size-large := 18px

// text
$white-text-color := #fff
$primary-text-color := #333

$textColor := #2c3e50
$codeBgColor := #282c34

$accent-color := $deep-purple.base
